.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    font-size: 15px;
    text-align: center;
    margin-top: 100px ;
  

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  &-start {
    opacity: 0.5;
    font-style: italic;
  }


  p {
    margin: 0 0 2rem;
    text-align:left;
    font-size: 18px;
    word-spacing: 2.5px;
  }

  h2 {
    color: $default-shade;
    font-family: $sans-serif;
    line-height: normal;
    text-align: center;
    font-size: 27px;
  }
  h3 {
    font-size: 22px;
    font-variant: small-caps;
  }
  h4 {
    font-size: 18px;
    opacity: 95%;
    padding-top: 15px;
    line-height: 0px;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
  summary {
    font-size: 20px;
    font-style: oblique;
    opacity:0.8;
    margin: 25px;
    text-align: center;
    
   }
  
   .context {
    font-size: 20px;
    font-style: oblique;
    opacity:0.8;
    margin: 25px;
    text-align: center;
    
   }

   .dropcaps {
    float:left;
    font-size:40px;
    margin-right:15px;
    color:#8C8273;
    font-style: italic;
   }

   .question {
    font-size:18px;
    color:#8C8273;

    .q1 {
      font-size: 14px;
    }

   }
  }



